<div class="container">
  <div class="row">
    <h1 class="mb-3 mt-4">Carro</h1>

    <div class="button-seguir-comprando col-3 float-right">
      <%= link_to "Seguir comprando", products_path, class: "btn btn-dark text-white" %>
    </div>

    <div id="cart-item" class: "text-center col-12" >
      <%= render "cart_item" %>
    </div>

    <div>
      <div id="cart" class="d-inline">
        <%= render 'cart/cart' %>
      </div>
      <div id="boton-comprar" class="d-inline ml-4">
        <%= render 'cart/boton_pagar' %>
      </div>
    </div>

    <hr>
  </div>
</div>