// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text-items-cart{
  font-size: 1rem;
}

.btn-cart{
  font-size: 0.8rem;
}

.titles-items-cart{
  font-size: 0.8rem;
}

.button-seguir-comprando{
  margin-top: -4rem;
  margin-left: 38rem;
  margin-bottom: 1rem;
}

.table-cart{
  margin: 0rem;
}

.text-content-table-cart{
  font-size: 0.7rem;
}

//-----------------------------------------------------------------
@media (min-width: 576px) { 

  .table-cart{
    margin: 0rem;
  }

  .titles-items-cart{
    font-size: 0.9rem;
  }

  .text-content-table-cart{
    font-size: 0.8rem;
  }

}

//-----------------------------------------------------------------
//Tablet 
@media (min-width: 768px) {
  .table-cart{
    margin: 0rem 2rem;
  }

  .titles-items-cart{
    font-size: 1rem;
  }

  .text-content-table-cart{
    font-size: 1rem;
  }
}

//-----------------------------------------------------------------
//Laptop - LG 
@media (min-width: 992px) {
  .table-cart{
    margin: 0rem 8rem;
  }
  .titles-items-cart{
    font-size: 1rem;
  }

  .text-content-table-cart{
    font-size: 1rem;
  }
}

//-----------------------------------------------------------------
// Extra-Large XL (Laptop en chrome)
@media (min-width: 1200px) {
  .table-cart{
    margin: 0rem 12rem;
  }
  .titles-items-cart{
    font-size: 1rem;
  }

  .text-content-table-cart{
    font-size: 1rem;
  }
}
