// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text-items-cart{
  font-size: 0.8rem;
}

.btn-cart{
  font-size: 0.8rem;
}

.titles-items-cart{
  font-size: 0.8rem;
}

.text-quantity-cart{
  font-size: 0.8rem;
}

.button-seguir-comprando{
  margin-top: 4rem;
}