// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    margin: 0;
  }
  
body * {
  margin: 0;
  border: 0;
  padding: 0;
}

//MOBILE FIRST

//Navbar
.bg-crema{
  background-color: white;
}

.navbar-brand{
    height: 42px;
    margin-left: 2rem;
}

.menu-text-dropdown{
  font-size: 0.7rem;
}

.nav-dropdown{
  margin-left: -3rem;
}

.dropdown-right-align{
  font-size: 0.7rem;
  margin-right: -0.5rem;
}

.text-dropdown{
  font-size: 0.6rem;
}

.navbar-toggler-icon{
  width: 1.2rem;
 }

 .icon-navbar{
   color: black;
   margin-right: 3rem;
   margin-bottom: 1.5rem;
 }

 .sign-in-bottom{
  font-size: 0.8rem;
 }

 .sing-up-bottom{
  font-size: 0.8rem;
 }

 .text-cart{
    font-weight: 400;
    font-size: 1rem;
  }

  .btn-cart{
    width: 6em;
    margin-right: 2.7rem;
  }

// Seccion contacto
.contacto{
  background-color:  #CAE3D5;
  color: black;
  padding: 1.5rem;
}

.titulo-somos{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

.text-somos{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
}

//SECCION PRODUCTOS EJEMPLOS
.background-flower{
  background-color: #F8F5EF;
  
}

.size-image-wall{
  width: 100%;
}

.text-photo{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  margin-top: 2rem;
}

 //footer

 .background-footer{
  background-color: #616670;
  height: 150px;
}

.text-escribanos{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 2rem;
}

.text-email{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.text-bajada{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}

//----------------------------------------------------------------------

@media (min-width: 576px) { 

  .btn-cart{
    width: 6em;
    margin-right: 2.7rem;
  }

  //SECCION PRODUCTOS EJEMPLOS
  .background-flower{
    background-color: #F8F5EF;
   
  }

  .size-image-wall{
    width: 100%;
  }

  .text-photo{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    margin-top: 4rem;
  }

   //footer

   .background-footer{
    background-color: #616670;
    height: 150px;
  }

  .text-escribanos{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 2rem;
  }

  .text-email{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }

  .text-bajada{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
  }

}

//--------------------------------------------------------------------------
//Tablet 
@media (min-width: 768px) {

  .navbar-brand{
      height: 60px;
      margin-left: 5rem;
  }

  .dropdown-right-align{
    margin-right: 1rem;
  }

  .menu-text-dropdown{
    font-size: 0.8rem;
  }

  .text-dropdown{
    font-size: 0.8rem;
  }

  .icon-navbar{
    color: black;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
  }

  .btn-cart{
    width: 6em;
    margin-right: 2.5rem;
  }

  // Seccion contacto
  .contacto{
    background-color:  #CAE3D5;
    color: black;
    padding: 2rem;
  }

  .titulo-somos{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 1rem;
  }

  .text-somos{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
  }

  //SECCION PRODUCTOS EJEMPLOS
  .background-flower{
    background-color: #F8F5EF;
    
  }

  .size-image-wall{
    width: 100%;
  }

  .text-photo{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    margin-top: 4rem;
  }

  .foto3-size{
    margin: 1.2rem 0rem;
  }

   //footer

   .background-footer{
    background-color: #616670;
    height: 150px;
  }

  .text-escribanos{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 2rem;
  }

  .text-email{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }

  .text-bajada{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
  }

}

//--------------------------------------------------------------------------
//Laptop - LG 
@media (min-width: 992px) {

  // Nav configuration 

  .navbar-brand{
    height: 60px;
    margin-left:-2rem;
}

  .dropdown-right-align{
    margin-right: 1rem;
  }

  .menu-text-dropdown{
    font-size: 1rem;
  }

  .text-dropdown{
    font-size: 1rem;
  }

  .icon-navbar{
    color: black;
    margin-right: 2rem;
    margin-bottom: 1.5rem;;
  }

  .btn-cart{
    width: 6em;
    margin-right: 2rem;
  }


  // Sección contacto

  .contacto{
    background-color:  #CAE3D5;
    color: black;
    padding: 3rem 6rem;
  }

  .titulo-somos{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 2rem;
  }

  .text-somos{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 1rem;
  }

  //SECCION PRODUCTOS EJEMPLOS
  .background-flower{
    background-color: #F8F5EF;
  }

  .size-image-wall{
    width: 100%;
  }

  .foto3-size{
    margin: 2rem 0rem;
  }

   //footer

   .background-footer{
    background-color: #616670;
    height: 150px;
  }

  .text-escribanos{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 2rem;
  }

  .text-email{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }

  .text-bajada{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
  }

}  

//--------------------------------------------------------------------------
// Extra-Large XL (Laptop en chrome)
@media (min-width: 1200px) {

  .navbar-brand{
      height: 60px;
  }

  .dropdown-right-align{
    margin-right: 1rem;
  }

  .menu-text-dropdown{
    font-size: 1rem;
  }

  .text-dropdown{
    font-size: 1rem;
  }

  .icon-navbar{
    color: black;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
  }

  .btn-cart{
    width: 6em;
    margin-right: 2rem;
  }

  // Seccion contacto
  .contacto{
    background-color:  #CAE3D5;
    color: black;
    padding: 2rem;
  }

  .titulo-somos{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 1rem;
  }

  .text-somos{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
  }

  //SECCION PRODUCTOS EJEMPLOS
  .background-flower{
    background-color:#F8F5EF;
  }

  .size-image-wall{
    width: 100%;
  }

  .foto3-size{
    margin: 2rem 0rem;
  }

  //footer

  .background-footer{
    background-color: #616670;
    height: 150px;
  }

  .text-escribanos{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 2rem;
  }

  .text-email{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }

  .text-bajada{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
  }

}