<div class="container w-50 my-3">
  <h4 class="mb-3">Nueva categoría</h4>

  <%= render 'form', category: @category %>

  <%= link_to 'Back', homeadmin_path, class: "btn btn-dark text-white mt-2" %>
</div>